*
{
  --color-azul: #59A59D;
  --color-gris: #9CAAA8;
  --color-verde: #055F51;
  --color-negro: #010505;
  --color-blanco: #F4F4F4;
  --color-azulClaro: #8AD9D1;
  --color-grisClaro: #585F5F;
}

.App 
{
  display: flex;
  text-align: center;
}

.container-calculator
{
  width: 70%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: right;
  border: 1px solid red;
}

.calculator
{
  height: 80%;
  width: 400px;
  border-radius: 20px;
  border: 1px solid green;
}

.container-buttom-changeMode-mic
{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-radius: 20px;
  border: 1px solid black;
}

.sun
{
  margin: 10px 10px 0 0;
}

.moon
{
  margin: 10px 10px 0 0;
}

.mic
{
  border: none;
  background-color: transparent;
  margin: 10px 0 0 10px;
}

.container-buttons
{
  width: 30%;
  height: 100vh;
  display: flex;
  padding-top: 20px;
  align-items: center;
  flex-direction: column;
  border: 1px solid green;
}

.buttom-historial
{
  width: 150px;
  font-weight: 600;
  font-size: smaller;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 4px 0 4px 0;
  border: 1px solid green;
}