# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Client
client/node_modules
client/node_modules/
client/package-lock.json
client/package.json
client/README.md

# Server
server/node_modules
server/node_modules/
server/package-lock.json
server/package.json
server/config.js

client/.pnp
client.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*